{% extends 'base.html.twig' %}

{% block body %}
<h1>Créer un formateur</h1>
{{ form_start(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    <button class="btn">Créer</button>
{{ form_end(form) }}
{% endblock %}
